<mat-toolbar color="primary">
  <button
    (click)="toggleSidenav()"
    class="toggle-sidenav-button"
    mat-icon-button
    color="accent"
    aria-label="toggle sidenav"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>
    GET across
  </span>
  <div class="spacer"></div>
  <button class="create-explanation-button" mat-icon-button color="accent" aria-label="create explanation">
    <mat-icon>add</mat-icon>
  </button>
  <button class="settings-button" mat-icon-button color="accent" aria-label="settings">
    <mat-icon>settings</mat-icon>
  </button>
</mat-toolbar>
